.DS_Store
*__pycache__*
.venv/*
*.lhe
*.root
*.exe
/Data/Figures/*
*.log
*.png
*~
*_ex*
*mymain45*
.vscode*
GenLevelStudies/pythia/WeakBosonDecayOutput.txt
Presentations/*
BookeepingFileNames/*
Trash/*
MCFileInfo/*
OralExam/*
*.ipynb*